body{
    background-color: #FFFFFF;
    font-family: Inter, sans-serif;
    
}
.text-highlight{
    color:#EF304C;
}
h1{
    font-size: 38px;
    color:#000000;
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;
}
.half-width img{
    width: 100%;
    

}
#first-para{
    font-size: 17px;
    color:rgb(51, 51, 51);
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    padding: 10px 40px;
     border-radius: 8px;
    background-image: linear-gradient(#EB6076,#EA2C45);
  color: white;
  border-radius: 20px;
  background-color: #EB6076;
}
.link-button:hover{
    font-size: 20px;
}
.second-img img{
    width: 70%;
    height: 450px;
}
#second-para{
    margin-top: 10%;
    margin-right: 7%;
}
.top-banner{
    background-image: url(../img/top-s.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    

}
.mid-banner{
    background-image: url(../img/mid.png);
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-color: #FEF4ED;
}

section{
    height: 550px;
    padding-bottom: 100px;
    
}
#third-section{
    
    padding-top: 10px;
    
}

  #paragraph-recipies{
      text-align: center;
  }
#recipies{
    text-align: center;
}
div.gallery img{
    width: 350px;
    height: 300px;
}
div.gallery {
    margin-left: 5%;
    float: left;
    width: 26%;
    box-shadow: 10px 10px 25px gray;
    border-radius: 10px;
    

  }
  .description{
      text-align:justify;
      color:rgb(51, 51, 51);
      
      
  }