body{
    background-color: #FFFFFF;
    font-family: Inter, sans-serif;
    
}
.text-highlight{
    color:#EF304C;
}
h1{
    font-size: 38px;
    color:#000000;
}

#first-para{
    font-size: 17px;
    color:rgb(51, 51, 51);
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    padding: 10px 40px;
     border-radius: 8px;
    background-image: linear-gradient(#EB6076,#EA2C45);
  color: white;
  border-radius: 20px;
  background-color: #EB6076;
}
.link-button:hover{
    font-size: 20px;
}
.second-img img{
    width: 70%;
    height: 450px;
}
#second-para{
    margin-top: 10%;
    margin-right: 7%;
}
.top-banner{
    background-image: url(../img/top-s.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    

}
.mid-banner{
    background-image: url(../img/mid.png);
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-color: #FEF4ED;
}

section{
    height: 550px;
    padding-bottom: 100px;
    
}
#third-section{
    
    padding-top: 10px;
    
}

  #paragraph-recipies{
      text-align: center;
  }
#recipies{
    text-align: center;
}
.recipies-items{
  width: 30%;
  height: 500px;
  border: 2px solid crimson;
  padding: 5px;
  margin: 4%;
  border-radius: 18px;
  box-shadow: 5px 5px 30px 20px grey;
  overflow: hidden;

}
.recipies-container{
  display: flex;

}
.recipies-items img{
  width: 100%;
}
.recipies-items:hover img{
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
.recipies-items:hover .food-heading{
 transform: translate(25%);
 transition:transform 2s ;
 color: #EB334C;

}
.food-details{
  margin-top: 18%;
}
.half-width{
  width: 40%;
  float: left;
  margin: 5%;
}
.half-width img{
  width: 100%;
  

}
  
  .footer{
    width: 100%;
      height: 200px;
      margin-top:20%;
      background-color:#0c0404;
      text-align: center;
  }
  
    
 

  .text-light{
      color: #fff;
      text-align: center;
  }
  .food-h1{
      color: #FD8F66;
  }
  .icons .fa{
    position: relative;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    width: 35px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(209, 199, 199, 0.589);
    display:inline-block;
    font-size: 120%;
    line-height: 40%;
    text-align: center;
    
    transition: 0.6s;
    color:black
  }
  .icons .fa:hover{
  
    transform: translate(0, -10px);
    
  }
  .icons a:nth-child(1) i{
    color:#3B5999;
  }
  .icons a:nth-child(2) i{
    color:#CD201F;
  }
  .icons a:nth-child(3) i{
    color:#0077B5;
  }
  .icons a:nth-child(4) i{
    color:#55ACEE;
    
  }
  .icons a:nth-child(1) i:hover{
    background-color:#3B5999 ;
    color: white
  }
  .icons a:nth-child(2) i:hover{
    color:white;
    background-color:#CD201F ;
  }
  .icons a:nth-child(3) i:hover{
    color:white;
    background-color:#0077B5 ;
  }
  .icons a:nth-child(4) i:hover{
    color:white;
    background-color:#55ACEE ;
  }